<tr>
  <td><%= product.name %></td>
  <td><%= product.category %></td>
  <td>£<%= product.price %></td>
  <td><%= button_to 'add to cart', cartitems_path, params: {id: product.id}, remote: true, class: 'btn btn-primary'%></td>
</tr> 
