<div class="table-responsive"> 
  <table class="table" id="products-table">
    <tr>
      <th>Product name<th>
      <th>Category<th>
      <th>Price<th>
      <th><th>
    </tr>
    <%= render @products %>
  </table>
</div>
